@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=MuseoModerno:wght@400;600;700&display=swap');



/* small custom transition for FAQ's accordion */
.accordion-content {
    transition: max-height 0.32s ease;
}